body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through 12{
    .col#{$i}{
        width: calc((100%/(12/$i)) - 3%);
        margin: 1.5%;
    }
}
